.registrationForm {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	h1 {
		font-size: 2.5rem;
		font-weight: bold;
		color: #333;
	}
	#registration-form {
		width: 40%;
		margin: 30px auto;
	}
}
