.main {
	height: 100vh;
	.sidebar {
		height: 100%;
		ul.sidebar-menu {
			display: flex;
			flex-direction: column;
			height: 100%;
			li {
				a {
					text-decoration: none;
				}
			}
			li:last-child {
				margin-top: auto;
				margin-bottom: 60px;
			}
		}
	}
	.content {
		padding: 30px;
	}
}
